/* Banner (transitions) */

.banner.onload-content-fade-up .content {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

.banner.onscroll-image-fade-in.is-inactive .image img {
  opacity: 1;
}
